.container_hero{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}


.container_hero_content{
    
}

.title_hero_content{
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    color: #123524;
    font-size: 96px;
}

.deskripsi_hero_content{
    width: 400px;
    color: #123524;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.container_image_hero_content img{
    width: 500px;
    margin-top: 40px;
}


